.App {
  text-align: center;
}

.background {
  background-image: url('./background.jpg');
  background-size: cover;
  padding: 30px 0;
  color: #fff;
  text-align: center;
}

.my-alert {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  background: #fdeda6;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 4px;
}

.tab {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}

.tab:active {
  color: grey;
  font-weight: 600;
}